.imgClass {
  @media (max-width: 630px) {
    width: 10px !important;
    height: 12px !important;
  }
}
.hamburgerClass {
  width: 55px !important;
  height: 32px !important;
  padding: 10px 20px !important;
  gap: 10px !important;
  border-radius: 20px 0px 0px 20px !important;
  border: 1px solid #0f0f0f !important;
  opacity: 1 !important;
  background-color: transparent !important;
  @media (max-width: 630px) {
    padding: 7.267px 14.534px !important;
    width: 40px !important;
    height: 22px !important;
  }
}
.gridClass {
  gap: 10px !important;
  width: 64px !important;
  height: 32px !important;
  border-radius: 0px 20px 20px 0px !important;
  padding: 10px 20px !important;
  background-color: transparent !important;
  border: 1px solid #0f0f0f !important;
  border-left: none !important;
  @media (max-width: 630px) {
    padding: 7.267px 14.534px !important;
    width: 40px !important;
    height: 22px !important;
  }
}
.activeViewClass {
  background: #daeef4 !important;
}
