.backdrop {
  position: fixed;
  inset: 0;
}

.main {
  position: relative;
}



.share {
  border-radius: 10px;
  padding: 10px 15px;
  height: fit-content;
  width: fit-content;
  font-size: 18px !important;
  font-weight: 600 !important;
  margin: 0px;
  cursor: pointer;

}

.btnClassName {
  font-size: 18px !important;
  font-weight: 600 !important;

  @media (max-width: 480px) {
    font-size: 10px !important;
  }

}

.tooltipClass {
  top: 30px !important;
  bottom: -38px !important;

  &::before {
    bottom: 32px !important;
    right: 15px !important;
    transform: rotate(0deg) !important;
  }
}