.backDropDiv {
    position: fixed;
    inset: 0;
    background-color: #fff;
    z-index: 200;
    padding: 20px 30px;

    .sideBar {
        display: flex;
        gap: 110px;
        margin-bottom: 20px;
        align-items: center;

        .backClickClass {
            width: 30px;
            height: 30px;
        }

        img {
            width: 40px;
            height: 40px;
        }
    }

    .mySelect {
        display: block;
        border-bottom: 1px solid #b8b8b8;
        border-top: 1px solid #b8b8b8;
        cursor: pointer !important;
        width: 100% !important;
        font-size: 15px !important;
        padding-top: 20px;
        padding-bottom: 10px;
    }

    .list {
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        list-style: none;
        gap: 25px;
        margin-top: 10px;
        max-width: fit-content;

        li {
            cursor: pointer;

            a {
                color: #fff;
                text-align: center;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
            }

            .img {
                transition: all 0.2s;

                path {
                    fill: #fff;
                }
            }

            &:hover {
                .img {
                    // margin-left: 8px;
                    transform: rotate(-90deg);

                    path {
                        fill: #ed1c24;
                    }
                }

                .a {
                    color: #ed1c24;
                }

                .a::before {
                    width: 100px;
                }
            }

            .a {
                display: flex;
                color: #fff;
                align-items: center;
                text-decoration: none;
                position: relative;
            }
        }
    }
}