@import "../../styles/_breakpoints.scss";
@import "../../styles/_colors.scss";
@import "../../styles/_mixin.scss";

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: max-content;
  border: none;
  box-shadow: none;
  width: 100%;
  padding: 10px;
  gap: 10px;
  border-radius: 5px;
  background-color: $btn;
  .img {
    width: 15px;
    height: 15px;
  }

  .btnTitle {
    color: #fff;
    @include font14;
    font-weight: 500;
  }
}
.loadingClass {
  width: 20px !important;
  height: 20px;
  border-top: 2px solid #fff;
  border-left: 2px solid #fff;
  border-bottom: 2px solid #fff;
}
