.viewAllClass {
  gap: 10px;
  display: flex;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  align-items: flex-end;
  flex-direction: column;
  border-bottom: 2px solid;
  justify-content: flex-start;

  @media (max-width: 480px) {
    font-size: 10px !important;
  }
}