.redBorder {
    border: 1px solid #ed1c24 !important;
}

.errorClass {
    display: block;
    font-weight: 500;
    font-size: calc(10px + 2 * (100vw - 280px) / 2280);
    margin-left: 1px;
    margin-top: 0px;
    color: #ff5050;
}

.labelClass {
    font-size: 16px !important;

}