.inviteModalShotUrl {
  border-radius: 5px !important;
  max-width: 672px !important;
  padding: 30px !important;

  @media (max-width: 500px) {
    max-width: 90vw !important;
  }

  .inviteSelectionBox {
    width: 100%;
    max-width: fit-content;
    min-width: fit-content;
    margin: 20px 0px;
  }

  .avatarClass {
    width: 50px;
    height: 50px;
    background: #578df6;
    border-radius: 50%;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

    p {
      color: #fff;
      font-size: 16px;
      font-weight: 400;
      line-height: normal;

      @media (max-width: 500px) {
        font-size: 14px;
      }
    }

    @media (max-width: 500px) {
      width: 35px;
      height: 35px;
    }
  }

  .heading {
    color: #0f0f0f;

    font-size: 18px;
    font-weight: 600;
    line-height: normal;

    @media (max-width: 500px) {
      font-size: 14px;
    }
  }

  .btnClass {
    border: 1px solid #b8b8b8 !important;
  }

  .shotLink {
    position: relative;
    margin-top: 20px;
    // padding: 10px;

    @media (max-width: 500px) {
      padding: 0px
    }

    //
    .inputBase {
      display: flex;
      padding: 15px 10px;
      border-radius: 4px;
      align-items: center;
      border: 1px solid #c0c0c0;
      color: #0000008a;

      @media (max-width: 500px) {
        padding: 5px 2px;
      }

      input {
        border: none !important;
        font-size: 16px;
        padding: 0px 55px 0px 0px;
        background: transparent !important;
        color: black !important;

        &:focus {
          outline: none; // Remove default focus outline
          border: none !important;
        }

        @media (max-width: 500px) {
          font-size: 12px;
          padding: 0px 55px 5px 0px;
        }
      }

      @media (max-width: 500px) {
        align-items: flex-start;
        flex-direction: column;
      }

      span {
        width: 100%;
        max-width: fit-content;
        min-width: fit-content;

        @media (max-width: 500px) {
          font-size: 12px;
        }
      }
    }

    //
    .labelClass {
      color: #a1a1a1;
      font-size: 18px;
      font-weight: 400;
      line-height: normal;

      @media (max-width: 500px) {
        font-size: 10px;
      }
    }

    .icon {
      width: 18px;
      height: 18px;
      margin-right: 8px;
    }

    .editIcons {
      width: 25px;
      height: 25px;
      cursor: pointer;
    }
  }
}


.inviteModal {
  border-radius: 5px !important;
  max-width: 672px !important;

  .inviteSelectionBox {
    width: 100%;
    max-width: fit-content;
    min-width: fit-content;
    margin: 20px 0px;
  }

  .avatarClass {
    width: 50px;
    height: 50px;
    background: #578df6;
    border-radius: 50%;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

    p {
      color: #fff;
      font-size: 16px;
      font-weight: 400;
      line-height: normal;

      @media (max-width: 500px) {
        font-size: 14px;
      }
    }

    @media (max-width: 500px) {
      width: 35px;
      height: 35px;
    }
  }

  .heading {
    color: #0f0f0f;

    font-size: 18px;
    font-weight: 600;
    line-height: normal;

    @media (max-width: 500px) {
      font-size: 14px;
    }
  }

  .btnClass {
    border: 1px solid #b8b8b8 !important;
  }

  .shotLink {
    position: relative;
    margin-top: 10px;
    padding: 10px;

    @media (max-width: 500px) {
      margin-top: 0px;
      padding: 0px 0px 25px 0px;
    }

    //
    .inputBase {
      display: flex;
      padding: 15px 10px;
      border-radius: 4px;
      align-items: center;
      border: 1px solid #c0c0c0;
      color: #0000008a;

      @media (max-width: 500px) {
        padding: 5px 2px;
      }

      input {
        border: none !important;
        font-size: 16px;
        padding: 0px 55px 0px 0px;
        background: transparent !important;
        color: black !important;

        &:focus {
          outline: none; // Remove default focus outline
          border: none !important;
        }

        @media (max-width: 500px) {
          font-size: 12px;
          padding: 0px 55px 5px 0px;
        }
      }

      @media (max-width: 500px) {
        align-items: flex-start;
        flex-direction: column;
      }

      span {
        width: 100%;
        max-width: fit-content;
        min-width: fit-content;

        @media (max-width: 500px) {
          font-size: 12px;
        }
      }
    }

    //
    .labelClass {
      color: #a1a1a1;
      font-size: 18px;
      font-weight: 400;
      line-height: normal;

      @media (max-width: 500px) {
        font-size: 10px;
      }
    }

    .icon {
      width: 18px;
      height: 18px;
      margin-right: 8px;
    }

    .editIcons {
      width: 25px;
      height: 25px;
      cursor: pointer;
    }
  }
}

.copyIcon {
  width: 18px;
  height: 18px;
  margin-right: 8px;
}

.inviteEmailModal {
  border-radius: 5px !important;
  max-width: 550px !important;

  .backBtnClass {
    background-color: transparent !important;
    border: 1px solid #ed1c24 !important;
  }

  .backBtnClassText2 {
    // font-size: 13px !important;
    color: #ed1c24 !important;
    font-weight: 500 !important;
  }

  @media (max-width: 600px) {
    max-width: 311px;
  }
}

.sendEmailBtn {
  text-align: -webkit-center !important;
}

.loadingClass {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border-top: 2px solid #fff;
  border-left: 2px solid #fff;
  border-bottom: 2px solid #fff;
  border-right: 2px solid transparent;
}

.showIcon {
  width: 40px !important;

  div {
    width: 15px !important;
    height: 15px !important;
    margin: 10px;
  }
}

.scrollClass {
  &::-webkit-scrollbar {
    width: 5px !important;
    background: #e6e7e8 !important;
    height: 5px !important;
    border-radius: 8px !important;
  }

  &::-webkit-scrollbar-thumb {
    background: #c7c8ca !important;
    border-radius: 8px !important;
    width: 5px !important;
    height: 5px !important;
  }

  &::-webkit-scrollbar:vertical {
    width: 5px !important;
    background: #e6e7e8 !important;
    height: 5px !important;
    border-radius: 8px !important;
    display: block !important;
  }
}

.updateURlClass {
  width: 22px !important;
  height: 22px !important;
  border-top: 3px solid #b8b8b8;
  border-left: 3px solid #b8b8b8;
  border-bottom: 3px solid #b8b8b8;
}

.installBtn {
  background-color: transparent !important;
  border: 1px solid #ffffff !important;
  padding: 3px 5px !important;
}

.installBtnCross {
  background-color: transparent !important;
  border: none !important;
  padding: 0px !important;
}

.installBtnText {
  color: #ffffff !important;
  font-weight: 500 !important;
}

.imgClassCross {
  width: 20px !important;

  img {
    width: 20px !important;
    height: 20px !important;
  }
}