.btnClass {
  background-color: transparent !important;
  padding: 1px !important;
}
.iconClass {
  width: 20px !important;
  height: 20px !important;
}

.mainVideoTableClass {
  height: 100% !important;
}
