.backdrop {
  position: fixed;
  inset: 0;
}
.main {
  position: relative;
}
.share {
  border-radius: 10px;
  padding: 10px 15px;
  height: fit-content;
  width: fit-content;
  font-size: 18px;
  margin: 0px;
  cursor: pointer;
}
.btnClass {
  background-color: transparent !important;
  padding: 1px !important;
}
.iconClass {
  width: 20px !important;
  height: 20px !important;
}
.btnTransparent {
  padding: 5px 10px;
  width: 100% !important;
  gap: 5px !important;
  border-radius: 10px !important;
  background-color: transparent !important;
  border: 1px solid #ed1c24 !important;
  @media (max-width: 630px) {
    height: 30px !important;
    border-radius: 5px !important;
  }
}
.btnColoredClass {
  color: #ed1c24 !important;
  font-size: 18px !important;
  font-style: normal !important;
  font-weight: 500 !important;
  line-height: normal !important;
  @media (max-width: 630px) {
    color: #ed1c24;
    text-align: center;
    font-size: 11px !important;
    font-weight: 500 !important;
    line-height: normal !important;
  }
}
.iconRedClass {
  width: 20px !important;
  height: 30px !important;
  @media (max-width: 630px) {
    width: 15px !important;
    height: 20px !important;
  }
  img {
    width: 30px !important;
    height: 30px !important;
    @media (max-width: 630px) {
      width: 20px !important;
      height: 20px !important;
    }
  }
}
