.logoImage {
  height: 100%;
  width: 100%;
  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}
.bgWhite {
  background: #fff;
}
.inputField {
  padding: 10 15px !important;
  font-size: 20px !important;
  border-radius: 10px !important;
  border: 1px solid #b8b8b8 !important;
  @media (max-width: 770px) {
    font-size: 14px !important;
    border-radius: 5px !important;
    padding: 5px 15px !important;
  }
}
.buttonClass {
  display: flex;
  padding: 10px;
  height: 45px;
  color: #fff;
  justify-content: center;
  align-items: center;
  gap: 5px;
  align-self: stretch;
  border-radius: 10px;
  font-weight: 500;
  font-size: 20px;
  background: #ed1c24;
  @media (max-width: 770px) {
    height: 35px !important;
    padding: 8px;
    border-radius: 5px;
    font-size: 18px !important;
  }
}
.colorRed {
  color: #ed1c24 !important;
  font-size: 20px !important;
  @media (max-width: 770px) {
    font-size: 18px !important;
  }
}
.buttonClassBack {
  gap: 5px;
  max-width: 100%;
  display: flex;
  padding: 10px;
  height: 45px;
  color: #ed1c24 !important;
  border-radius: 10px;
  font-weight: 500;
  font-size: 22px;
  background: #fff;
  align-items: center;
  align-self: stretch;
  justify-content: center;
  border: 1px solid #ed1c24;
  @media (max-width: 770px) {
    height: 35px !important;
    padding: 8px;
    border-radius: 5px;
    font-size: 18px !important;
  }
}
.redirectClass {
  width: 100%;
  min-width: fit-content;
  max-width: fit-content;
  font-size: 20px;
  font-style: normal;
  cursor: pointer;
  font-weight: 400;
  line-height: normal;
  strong {
    text-decoration: underline !important;
    font-weight: 600 !important;
  }
  @media (max-width: 770px) {
    font-size: 14px !important;
  }
}
